body {
    font: normal 16px/100% "Andale Mono", AndaleMono, monospace;
    color: white;
    padding: 50px;
    width: 300px;
    margin: 0 auto;
    background-color: #374954;
}

button {
    background-color: #6BBE92;
    width: 302px;
    border: 0;
    padding: 10px 0;
    margin: 5px 0;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

input {
    background-color: #4F6877;
    display: block;
    padding: 8px 20px 5px 10px;
    min-height: 25px;
    line-height: 24px;
    overflow: hidden;
    border: 0;
    width: 272px;
    color: white;
}

a {
    position: center;
    color: white;
    font-weight: bold;
}

h1 {
    text-align: center;
}

.req a {
    position: relative;
    color: white;
    top: 30px;
    font-weight: bold;
}

.close-container {
    position: absolute;
    right: 10%;
    top: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    margin-top: 100px;
    cursor: pointer;
}

.leftright {
    height: 4px;
    width: 50px;
    position: absolute;
    margin-top: 24px;
    background-color: #4F6877;
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all .3s ease-in;
}

.rightleft {
    height: 4px;
    width: 50px;
    position: absolute;
    margin-top: 24px;
    background-color: #4F6877;
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all .3s ease-in;
}

label {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: .6em;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all .3s ease-in;
    opacity: 0;
}

.close {
    margin: 60px 0 0 5px;
    position: absolute;
}

.close-container:hover .leftright {
    transform: rotate(-45deg);
    background-color: white;
}

.close-container:hover .rightleft {
    transform: rotate(45deg);
    background-color: white;
}

.close-container:hover label {
    opacity: 1;
}

