{% extends "auth.html" %}
{% block content %}
    <tr>
        <td><input type="text" name="login" placeholder="Логин"></td>
    </tr>
    <tr>
        <td><input type="password" name="password" placeholder="Пароль"></td>
    </tr>
    <tr>
        <td>{% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}</td>
    </tr>
    <tr>
        <td>
            <button type="submit" value="Войти">Войти</button>
        </td>
    </tr>
    <tr>
        <td><a href="{{ url_for('register') }}">Регистрация</a></td>
    </tr>
{% endblock %}